doctype 5

html


	H1 Im Jaded.
	H2 Jade test
		title Jade!
	P
		a(class='button',href='http://fall2013.refactoru.com') student site

	P Enter your name
	input(type="text", placeholder="yourname")	

	#websiteLink
		a(class="GButton", href="google.com") Button to Google
		
	ul Awesome Jade Teachers(not ordered)
		li Matt
		li Raine




//- mixin jadedMixin
//- li
